/* General styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono';
    box-sizing: border-box;
    font-size: 14px;
}

html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

body{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    padding: 40px 5.34%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 5.34%;;
    flex-grow: 1;
}

h1{
    font-size: 4.2em;
    max-width: 586px;
    color: var(--gray-1, #333);
    font-weight: 700;
    letter-spacing: -2.24px;
    margin-bottom: 36px;
}

h2{
    font-size: 1.5rem;
}

h3{
    color: var(--gray-2, #4F4F4F);
    font-size: 1.71em;
    letter-spacing: -0.84px;
    width: 381px;
    margin-bottom: 64px;
}

img{
    width: 100%;
    max-width: 539px;
}

button{
    width: 216px;
    height: 68px;
    flex-shrink: 0;
    background: var(--gray-1, #333);
    color: white;
}

footer{
    margin: 24px auto;
}

p{
    text-align: center;
    font-size: 14px;
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--gray-1, #333);
}


/* Container styles */

.scarecrow{
    width: 50%;
    min-width: 287px;
}

.text{
    width: 50%;
}

@media (orientation: portrait){
    .scarecrow, .text{
        width: 100%;
    }

    .scarecrow{
        text-align: center;
        font-size: 14px;
    }

    h1{
        font-size: 48px;
    }

    h3{
        font-size: 18px;
        width: 328px;
    }

    header{
        padding: 20px 5.34%;
    }

    img{
        width: 285px;
    }
}