*{
    margin: 0;
    padding: 0;
    font-family: Space Mono;
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    max-width: 1440px;
    padding: 0 77px;
    display: flex;
    flex-flow: column;
}

h1 {
    color: var(--gray-1, #333);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -2.24px;
    width: 586px;
}

h2 {
    color: #333;
    font-size: 24px;
    font-family: Inconsolata;
    font-weight: 700;
    letter-spacing: -1.92px;
    text-transform: uppercase;
}

h3{
    width: 381px;
    margin: 36px 0;
}

header{
    margin: 40px 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

footer p{
    margin: auto;
    text-align: center;
}

img{
    width: 539px;
    height: 447px;
    margin-right: 120px;
}

button{
    background-color: black;
    color: white;
    width: 216px;
    height: 68px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 28px 0;
}

footer{
    margin: 24px 0;
}

p{
    color: #BDBDBD;
    font-family: Montserrat;
}
a{
    color: #BDBDBD;
    text-decoration: none;
    font-family: Montserrat;
}